* {
    margin: 0px;
    padding: 0px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #cccc;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background: #78C0A8;
}

.content {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
}

.notebook {
    display: flex;
    width: calc(100vw - 50px);
    font-family: 'arial';
}

.section-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #8bafa2;
    overflow: hidden;
}

.section-list ul {
    width: 100%;
}

.section-list li {
    width: 100%;
    height: auto;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;

}

.section-list li:hover {
    background: #afd9dc;
}

.section-list button {
    margin: 2px;
    padding: 10px;
    cursor: pointer;
}

.section {
    display: flex;
}

.chapter-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    background: #9be3ed;
}

.chapter-list ul {
    width: 100%;
}

.chapter-list li {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.chapter-list li:hover {
    background: #b3b3b3;
}

.chapter-list button {
    height: auto;
    width: auto;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}


.chapter {
    display: flex;
    position: relative;
    width: calc(100vw - 550px);
    height: auto;
}


.action-bar {
    display: flex;
    width: 50px;
    height: auto;
}

.canvas {
    display: flex;
    position: relative;
    background: #dddddd;
    width: 100%;
}

.note {

}

.markdown-preview {
    background: rgba(34, 34, 34, 0.19);
}

.markdown-preview blockquote {
    font-size: 1.4em;
    width: 60%;
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

.markdown-preview blockquote::before {

    content: "\201C";
    color: #78C0A8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.markdown-preview blockquote::after {
    content: '';
}

.markdown-preview blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.active-section {
    background: #9be3ed;
    box-shadow: #6d6d6d 0px 0px 10px;
}

.active-chapter {
    background: #dddddd;
    box-shadow: #6d6d6d 0px 0px 10px;
}