:root {
    --section-background: #a1bca8;
    --section-hover: rgba(0, 0, 0, 0.23);

    --chapter-background: #9be3ed;
    --chapter-hover: rgba(0, 0, 0, 0.16);

    --canvas-background: #dddddd;

    --general-shadow: #6d6d6d 0px 0px 10px;
    --button-background-section: #8acec2;
    --button-background-chapter: #afcac8;

    --button-border-section-hover: solid 1px #222222;
    --button-border-chapter-hover: solid 1px #222222;

    --button-shadow: #6d6d6d 0px 0px 5px;
}

* {
    margin: 0px;
    padding: 0px;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #cccc;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    background: #78C0A8;
}

.content {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
}

.notebook {
    display: flex;
    width: calc(100vw - 50px);
    font-family: 'arial';
}

.section-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: var(--section-background);
    overflow: scroll;
}

.section-list ol {
    width: 100%;
}

.section-list li {
    width: 100%;
    height: auto;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    margin-left: 20px;
    border-radius: 10px;

}

.section-list li:hover {
    background: var(--section-hover);
}

.section-list li:hover {
    background: var(--section-hover);
}

.section-list button {
    font-size: 2.5em;
    padding: 7px;
    background: var(--button-background-section);
    border: 0px;
    width: 200px;
    align-self: center;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: var(--button-shadow);
}

.section-list button:hover {
    border: var(--button-border-section-hover);
    border-radius: 30px;
}

.section {
    display: flex;
}

.chapter-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    background: var(--chapter-background);
    overflow: scroll;
}

.chapter-list ol {
    width: 100%;
}

.chapter-list li {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-left: 15px;
    cursor: pointer;
}

.chapter-list li:hover {
    background: var(--chapter-hover);
}

.chapter-list button {
    font-size: 2.5em;
    padding: 7px;
    background: var(--button-background-chapter);
    border: 0px;
    width: 150px;
    align-self: center;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: var(--button-shadow);
}

.chapter-list button:hover {
    border: var(--button-border-chapter-hover);
    border-radius: 30px;
}

.chapter {
    display: flex;
    position: relative;
    width: calc(100vw - 550px);
    height: auto;
}


.action-bar {
    display: flex;
    width: 50px;
    height: auto;
}

.canvas {
    display: flex;
    position: relative;
    background: #dddddd;
    width: 100%;
}

.note {

}

.markdown-preview {
    background: rgba(34, 34, 34, 0.19);
}

.markdown-preview blockquote {
    font-size: 1.4em;
    width: 60%;
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

.markdown-preview blockquote::before {

    content: "\201C";
    color: #78C0A8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.markdown-preview blockquote::after {
    content: '';
}

.markdown-preview blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.active-section {
    background: var(--chapter-background);
    box-shadow: var(--button-shadow);
}

.section-list li.active-section:hover {
    background: var(--chapter-background);
}

.active-chapter {
    background: var(--canvas-background);
    box-shadow: var(--button-shadow);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}